<mat-selection-list #todos>
  <mat-list-option
    *ngFor="let todo of todoList"
    [selected]="todo.completed"
    [togglePosition]="'before'"
    color="primary"
  >
    <div class="list-option-content">
      <span class="list-option-content__title">{{ todo.description }}</span>
      <button
        class="list-option-content__button"
        mat-icon-button
        aria-label="Remove todo item"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-list-option>
</mat-selection-list>
