<div class="section-container">
  <div class="centered-content">
    <div class="avatar-icon">
      <mat-icon color="secondary">person</mat-icon>
    </div>
    <h2 class="mat-headline-5">Sign in</h2>
  </div>

  <form [formGroup]="form" (submit)="onSubmit()" class="form-content">
    <mat-form-field>
      <mat-label>Email Address</mat-label>
      <input matInput formControlName="username" autofocus />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" />
    </mat-form-field>
    <button
      mat-raised-button
      type="submit"
      color="primary"
      class="form-content-button"
      [disabled]="submitting"
    >
      <span class="form-content-button__text">Sign In</span>
      <mat-spinner
        *ngIf="submitting"
        color="accent"
        diameter="20"
        class="form-content-button__spinner"
      ></mat-spinner>
    </button>
  </form>
</div>
